.productmorecolors {
    position: relative;
}
.productmorecolors__label {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
}
.productmorecolors__label:hover {
    cursor: pointer;
}
.productmorecolors__attributes {
    background: rgb(255 255 255 / 50%);
    z-index: 1;
    /* bottom: 0;
    width: 100%;
    left: 0;
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    text-align: left;
    padding: 10px;
    border-top: 1px solid #eee; */
}
.attribibutes__visible {
    opacity: 1;
}
.productmorecolors__title {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 500;
}
.productmorecolors__attribute {
    border: 1px solid #ddd;
    margin-right: 4px;
    cursor: pointer;
    transition: border-color .25s ease;
    width: 40px;
    height: 40px;
}
@media(min-width: 768px) {
    .productmorecolors__attribute {
        width: 30px;
        height: 30px;
    } 
}
.productmorecolors__attribute--selected {
    border-color: #e50000;
}
.productmorecolors__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    height: 26px;
    width: 26px;
    border: none;
    background: none;
}

.productmorecolors__close::before,
.productmorecolors__close::after {
    content: "";
    width: 20px;
    height: 1px;
    background: black;
    display: block;
    position: absolute;

}
@media(min-width: 768px) {
    .productmorecolors__close {
        width: 20px;
        height: 20px;
    } 
    .productmorecolors__close::before,
    .productmorecolors__close::after {
        width: 16px;
    }
}

.productmorecolors__close::before {
    transform: rotate(45deg);
}
.productmorecolors__close::after {
    transform: rotate(-45deg);
}