{foreach from=$slides item=slide}
    <div id="categoryBanner" class="col-xs-12 categoryBanner" data-counter="{$counter}">
        <a href="{$slide.url}" {if $slide.target}target="_blank"{/if}><img class="img-fluid {$slide.classes}"src="{$link->getMediaLink("`$smarty.const._MODULE_DIR_`mcategorybanners/images/`$slide.image|escape:'htmlall':'UTF-8'`")}" title="{$slide.title}" width="1443" height="100"></a>
    </div>
{/foreach}