.menu__link {
  padding: 0.625rem;
  display: flex;
}  

@media(min-width: 768px) {
  .menu__item--special .menu__item-header > a {
    position: relative;
  }
  .menu__item--special .menu__item-header > a:after {
    content: '';
    position: absolute;
    top: -7px;
    right: 0;
    padding: 4px 10px;
    z-index: 1;
    font-size: .725rem;
    font-weight: 600;
    border-radius: 7px 7px 7px 0;
    color: #fff;
    box-shadow: 0 0.25rem 0.375rem rgb(229 0 0 / 20%);
    background: rgb(229,0,0);
    background: linear-gradient(90deg, rgba(229,0,0,1) 0%, rgba(228,81,81,1) 100%);
  }
  
  .menu__item--new .menu__item-header > a:after {
    content: 'New!';
    background: #e50000;
    color: #fff;
    /* box-shadow: 0 0.25rem 1rem rgb(229 0 0 / 25%); */
  }
 
  .menu__item--premium .menu__item-header > a:after {
    content: 'Premium!';
    background: #e50000;  
    /* box-shadow: 0 0.25rem 1rem rgb(111 66 193 / 25%); */
  }

  .wt-sub-menu {
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  }

  .menu__link {
    padding: 0.3rem;
  }
}

.wt-sub-menu:hover,
.menu__item-header:hover ~ .wt-sub-menu {
  opacity: 1;
  z-index: 9999;
  visibility: visible;
}

.wt-menu__subtitle {
  padding: .3rem;
  font-size: 1.2rem;
  margin: 0;
  margin-top: .5rem;
  font-weight: 600;
}

.special-column .ul-column {
  background: #eee;
  height: 100%;
}
.item-header {
  font-weight: 600;
}