a.wr360thumb {
    display: block;
}

.product-cover {
    position: relative;
}
.webrotate__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.webrotate__box--active {
    z-index: 1;
}