body {
  background-color: $wrapper-bg;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
sup {
  top: -0.3em;
}

.l-wrapper {
  @if $enable-fluid-layout {
    @extend .container-fluid;
  } @else {
    @extend .container;
  }
  &--boxed {
    @extend .container;
  }
}

.card-block {
  margin-bottom: 1rem;
}

.page {
  &__title {
    font-size: $display4-size;
    font-weight: $font-weight-bold;
    margin-bottom: $spacer;
    line-height: 1.2;
  }

  &__footer {
    margin-top: $spacer * 1.5;
    border-top: 1px solid $border-color;
    padding: $spacer * 1.5 0;
  }
}

@include media-breakpoint-desktop() {
  .page {
    &__box {
      padding: 0 $spacer * 3;

      &--left {
        border-right: 1px solid $border-color;
      }
    }
  }
}

// .page-header{
//   @extend .card-header;
//   h1{
//     margin-bottom: 0;
//   }
// }
// .page-content,.card-block{
//   @extend .card-body;
// }
// .card-block{
//   box-shadow:$card-box-shadow;;
// }
// .page-footer{
//   @extend .card-footer;
//   &:empty{
//     display: none;
//   }
// }

.left-column > div,
.right-column > div {
  margin-bottom: $spacer;
}
/* HEADER */

/* FOOTER */
.l-footer {
  background-color: $footer-bg;
  margin-top: $footer-margin-top;
  padding-top: $footer-padding-top;
}

/* MISC */
ul {
  list-style: none;
  padding-left: 0;
}
h1,
.h1 {
  text-transform: $h1-text-transform;
}
.quick-view {
  display: inline-block;
  @extend .small;
}
.form-group.form-group_forgot-password {
  margin-top: -($form-group-margin-bottom/2);
}
.form-wrapper {
  max-width: 420px;
}
//touch spin

.bootstrap-touchspin {
  box-shadow: $bs-touchspin-boxshadow;
  border: $input-border-width solid $input-border-color;
  > input {
    max-width: 75px;
    border: none;
    box-shadow: none;
    text-align: center;
    font-weight: 700;
  }
  .btn {
    position: relative;
    z-index: 2;
    color: $input-color;
    background-color: $white;
    padding: $spacer $spacer;
  }
  .input-group-btn {
    display: flex;
    &:first-child {
      margin-right: -$input-border-width;
    }
    &:last-child {
      margin-left: -$input-border-width;
    }
  }
}

/* minimizing reflows and avoiding page jumps */

.rc {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  background: rgba(0, 0, 0, 0.05);
  transition: background 150ms;
  &:after {
    @extend .spinner-border;
    content: "";
    border-color: $gray-300;
    position: absolute;
    top: calc(50% - #{($spinner-height/2)});
    left: calc(50% - #{($spinner-width/2)});
    z-index: 2;
    border-right-color: transparent;
  }
  &--lazyload:after {
    display: none;
  }
}

.rc > * {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rc > a {
  display: block;
}
.ratio2_1 {
  padding-top: 50%;
}
.ratio1_2 {
  padding-top: 200%;
}
.ratio4_3 {
  padding-top: 75%;
}
.ratio16_9 {
  padding-top: percentage(9/16);
}
.ratio1_1 {
  padding-top: 100%;
}
.ratio3_2 {
  padding-top: percentage(1-2/3);
}

/* collapse icons */
.icon-collapse {
  transition: transform 0.4s ease;
}
.icon-collapse[aria-expanded="true"] {
  transform: rotateZ(180deg);
}

/* CHECKOUT STEP */
.order-checkout .card-body {
  padding-bottom: 0;
}
.step-edit[aria-expanded="true"] {
  display: none;
}
.step-title {
  margin-bottom: 0;
}
.-complete.-reachable .step-title .done {
  display: inline-block;
}
.-current .step-title .done {
  visibility: hidden;
}
.-current .card-header {
  background-color: $white;
}

.accordion {
  .card-body .card {
    border: 1px solid $card-border-color;
    transition: border 0.1s linear;
  }
  .selected .card {
    border-color: $success;
  }
}

//Addresses

.address-selector {
  .card {
    transition: border 0.1s linear;
  }
  .card-header,
  .card-body {
    cursor: pointer;
  }
}
.card-body_add-address {
  padding: $card-spacer-y $card-spacer-x;
  .material-icons {
    opacity: 0.8;
  }
}

.address-item {
  &__actions {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .card {
    position: relative;

    &::after {
      content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.92572 9.72222L3.17454 6.97368C3.13133 6.92322 3.10875 6.85831 3.11131 6.79193C3.11388 6.72554 3.1414 6.66257 3.18837 6.61559C3.23535 6.56861 3.29832 6.54109 3.36471 6.53853C3.4311 6.53597 3.496 6.55855 3.54646 6.60176L5.92044 8.97574L10.5603 4.34121C10.6107 4.29799 10.6756 4.27541 10.742 4.27798C10.8084 4.28054 10.8714 4.30806 10.9183 4.35504C10.9653 4.40201 10.9928 4.46499 10.9954 4.53137C10.998 4.59776 10.9754 4.66267 10.9322 4.71313L5.92572 9.72222Z' fill='white'/%3E%3C/svg%3E%0A");
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background: $success;
      position: absolute;
      top: -0.575rem;
      right: -0.575rem;
      opacity: 0;
      box-shadow: 0 0.25rem 0.5rem rgba($success, 0.25);
    }
  }

  &.selected {
    .card {
      &::after {
        opacity: 1;
      }
    }
  }
}

.item-product img, 
.item-product svg {
  width: 50px;
  height: 50px;
}

// Shipping
.delivery-option {
  padding: $spacer;
  margin-bottom: 0;
}
.carrier-name {
  font-weight: $font-weight-bold;
}
//order list final recap
.order-line:not(:last-child) {
  margin-bottom: $spacer/2;
}

//forms
custom-file-label.selected:after {
  content: "" !important;
}
.label {
  @extend label;
}
//nav tabs
.nav-tabs {
  .nav-link {
    color: $gray-400;
    font-weight: $font-weight-bold;
  }
  // .nav-link.active,
  // .nav-item.show .nav-link {
  //   border-bottom-width: 2px;
  // }
}
.tab-content {
  padding-top: $spacer;
}
//products-section-title
.products-section-title {
  @extend .display-2;
}

@include media-breakpoint-mobile() {
  .modal-footer {
    flex-direction: column;
    flex-direction: column-reverse;
    & > .btn {
      margin: 0;
      width: 100%;
    }
    & .btn:not(:last-child) {
      margin-top: $spacer/2;
    }
  }
}

.nav-tabs {
  flex-wrap: nowrap;
  // overflow-x: auto;
  // overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none;
  }
  .nav-link {
    white-space: nowrap;
  }
}

//forms
main > .notifications-container {
  @extend .l-wrapper;
}
.notifications-container {
  ul {
    margin-bottom: 0;
  }
}
.js-invalid-feedback-browser:empty {
  display: none;
}
.form-group {
  label,
  .label {
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    margin-bottom: 0.25rem;
    small,
    .small {
      font-size: 0.75 * $font-size-base;
    }
  }
}
@include media-breakpoint-desktop {
  .page-content,
  .checkout-form,
  .page-wrapper--order-confirmation {
    form {
      // width: 75%;
      max-width: 420px;
    }
  }
  .page-wrapper--order-detail {
    form {
      margin: unset;
    }
  }
}
.form-footer {
  margin-top: $spacer;
}

// badge order history
.badge.bright {
  color: #fff;
}

.heading {
  @extend .display-3;
  padding-bottom: $spacer * 0.75;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color;

  &__text {
    margin-right: $spacer/2;
  }
}

.account__name {
  position: absolute;
  bottom: -0.375rem;
}

.box {
  margin-bottom: $spacer * 2;

  &__wrapper {
    position: relative;
    display: block;
    padding: $spacer;
    z-index: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: $spacer * 2;
      // box-shadow: 0 3px 25px rgba($black, 0.1);
      border: 1px solid $gray-400;
      transition: opacity 0.15s ease-in-out;
      z-index: -1;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: $font-size-base * 0.8125;
    text-align: center;
    padding: $spacer/2;
    font-weight: $font-weight-bold;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      font-family: "Material Icons";
    }
  }
}

.shop-attributes {
  height: 1.5rem;
  overflow: hidden;

  .slick-slider {
    margin-bottom: 0;
  }

  &__container {
    opacity: 0;
    transition: opacity .05s ease;

    &.slick-initialized {
      opacity: 1;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: .675rem;
    padding: 0 .25rem;
    font-weight: $font-weight-bold;
  }
}

.features {
  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.feature {
  text-align: center;
  padding: 1.5rem;

  &__icon {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: $font-weight-bolder;
  }

  &__description {
    font-size: 0.875rem;
    font-weight: $font-weight-base;
  }
}

