.header__up {
  align-content: center;
}
.header-nav__nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-mobile__user-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  background-color: $header-bg;
  margin-bottom: $spacer;
  // box-shadow: $header-box-shadow;
  
  @include media-breakpoint-mobile {
    position: sticky;
    top: 0;
    z-index: 1021;
  }

  &__logo {
    transition: width .3s ease;
    &--sticky {
      width: 200px;
    }
  }


  // &__nav {
  //   border-bottom: 1px solid $border-color;
  // }

  &__navbar {
    // border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    transition: transform .3s ease;

    &--sticky {
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        width: 100%;
        background: white;
        z-index: 9998;
        transform: translateY(-100%);
    }

    &--active {
      transform: translateY(0);
    }
  }

  &__wrapper {
    &--sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: white;
      border-bottom: 1px solid #ccc;
      z-index: 9999;
    }
  }

  &__top {
    align-items: center;
    transition: padding, max-width .3s ease;
    @include media-breakpoint-desktop {
      padding: $spacer * 1.5 $grid-gutter-width/2;
      display: flex;
      justify-content: space-between;
      position: static;
      z-index: 9999;
      &--sticky {
        padding: 0.75rem 15px;
      }
    }
    @include media-breakpoint-mobile {
      display: grid;
      grid-template-columns: 2.875rem 1fr 1fr;
      grid-gap: 0.5rem;
      padding: 0px;
    }
  }

  &__link {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    &--account {
      @include media-breakpoint-desktop {
        flex-direction: column;
        width: 85px;
      }
    }
    @include media-breakpoint-up(lg) {
      &--top {
        border: 1px solid $menu-item-border-color;
        border-radius: 3px;
        margin-right: 2rem;
        display: none;
      }
    }

  }

  &__pill {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.275rem;
    height: 1.275rem;
    font-size: .75rem;
    font-weight: $font-weight-bold;
    border-radius: 50%;
    background: $primary;
    color: $white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 0.25rem 1rem rgba($primary, 0.25);
    line-height: 1;

    &--animated {
      animation: pulse 0.5s both;
    }
  }

  &__search {
    flex: 1;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
  }

  // @include media-breakpoint-desktop {
  //   &__navbar {
  //     border-top: 1px solid $border-color;
  //   }
  // }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &:not(:last-child) {
      margin-right: $spacer/2;
    }
  }
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.header__logo--checkout {
  max-width: 200px;
}
.header-nav--checkout {
  padding-top: $spacer;
  padding-bottom: $spacer;
}
@include media-breakpoint-mobile {
  .header__logo--checkout {
    max-width: 108px;
  }
  .header__search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  .header__logo--checkout {
    margin: 0 auto;
  }
  .header__logo-subtitle {
    display: none;
  }
}
@include media-breakpoint-desktop() {
  .header-top__col {
    width: 30%;
  }
}
@include media-breakpoint-up(xl) {
  .header-top__col {
    width: 25%;
  }
}
.header__rightitem {
  position: relative;
}

//
//.header-nav{
//  border-bottom: 1px solid $header-nav-border-color;
//  background-color: $header-nav-bg-color;
//  color:$header-nav-color;
//  padding-top: $header-nav-padding-y;
//  padding-bottom: $header-nav-padding-y;
//  & a:not(.dropdown-item), .btn{
//    color: $header-nav-color;
//  }
//}
////.header-top{
////  border-bottom: 1px solid $header-top-border-color;
////}
//@include media-breakpoint-mobile {
//  .header__container{
//    padding-left: 0;
//    padding-right: 0;
//  }
//  .logo{
//    width:100%;
//    max-width: 115px;
//  }
//}
