//color

$bg-dark :                      #dededd;
$tertiary:                      #e50000;

//option
$enable-fluid-layout:            false;


/* HEADER */
$header-bg:                     $white;
$header-box-shadow:             0 3px 15px 0 rgba(0,0,0,.1);
$header-nav-bg-color:           null;
$header-nav-color:              $body-color;
$header-nav-padding-y:          null;
$header-nav-border-color:       $border-color;
$header-top-border-color:       $header-nav-border-color;
/* MAIN */
$spacer-y : $spacer*2;
$wrapper-bg:                    $white;
/* FOOTER */
$footer-bg:                     $white;
$footer-container-margin-top:   $spacer*2.5;
