/* PRODUCT MINIATURE */
$pm-bg-color: null;
$pm-border-width: 1px;
$pm-border-color: $primary;
/* product title */
$pm-name-color:                null;
$pm-name-hover-color:          null;
$pm-name-font-size:            $font-size-base;
$pm-name-font-weight:          $font-weight-base;
$pm-name-font-family: null;
$pm-name-font-size: null;
$pm-name-hover-border-width: 1px;
$pm-name-hover-border-color: transparent;

$pm-highlight-bg-color: #fff;
$pm-highlight-translateY: 0;

$pm-rate-stars-size: 1.75rem;
$pm-rate-total-size: 1.025rem;