<template>
  <div class="ShoppingCart">
    <shopping-cart-btn 
      :products_nb.sync="productsNb" 
      @toggleWrapper="toggleWrapper" 
    />
    <shopping-cart-wrapper 
      :title="title"
      :products.sync="products" 
      :cart.sync="cart" 
      :url="url"
      :quantity="quantity"
      @toggleWrapper="toggleWrapper" 
      v-if="box" 
    />
  </div>
</template>

<script>
import axios from 'axios';
import ShoppingCartBtn from './ShoppingCartBtn.vue'
import ShoppingCartWrapper from './ShoppingCartWrapper.vue'
import $ from 'jquery'

export default {
  name: 'ShoppingCart',
  components: {
    ShoppingCartBtn,
    ShoppingCartWrapper
  },
  props: {
    url: {
      type: String,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    quantity: {
      type: String,
      default: null
    },
    products_count: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    cart: null,
    products: [],
    productsNb: 0,
    box: false,
    prestashop: prestashop
  }),
  mounted() {
    this.productsNb = this.products_count;
    this.getShoppingCart();
    this.watchCartEvent();
  },
  methods: {
    getShoppingCart() {
      axios.get(`${this.url}?ajax=1&action=update`)
      .then(resp => resp.data)
      .then(resp => {
        const { cart } = resp;
        this.cart = cart;
        this.products = cart.products;
      })
    },
    watchCartEvent() {
      
      this.prestashop.on('updateCart', (obj) => {

        const { resp } = obj
        if(resp.success) {
          const { cart } = resp
          this.cart = cart;
          this.products = cart.products;
          this.productsNb = cart.products_count;
          if(this.productsNb == 0) {
            this.box = false;
          }
          $('.js-cart-products-nb').text(this.productsNb)
        }
        
      })
    },
    toggleWrapper() {
      this.box = !this.box;
    }
  }
};
</script>
