<template>
  <button class="ShoppingCartBtn header__link" @click="toggle">
    <svg
      class="blockcart__icon"
      width="26"
      height="26"
      viewBox="0 0 26 26"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.6449 1.74038C16.7364 1.68551 16.8379 1.64922 16.9434 1.63358C17.049 1.61793 17.1566 1.62324 17.2602 1.6492C17.3637 1.67515 17.4611 1.72125 17.5468 1.78485C17.6325 1.84845 17.7048 1.92832 17.7596 2.01988L22.6346 10.1449C22.6895 10.2364 22.7257 10.3379 22.7414 10.4434C22.757 10.549 22.7517 10.6566 22.7257 10.7601C22.6998 10.8637 22.6537 10.961 22.5901 11.0467C22.5265 11.1324 22.4467 11.2048 22.3551 11.2596C22.1702 11.3704 21.9489 11.4032 21.7399 11.3507C21.5308 11.2983 21.3511 11.165 21.2404 10.9801L16.3654 2.85513C16.3105 2.76358 16.2742 2.66213 16.2586 2.55656C16.2429 2.45099 16.2482 2.34337 16.2742 2.23985C16.3001 2.13633 16.3462 2.03894 16.4098 1.95324C16.4734 1.86754 16.5533 1.79521 16.6449 1.74038ZM9.35512 1.74038C9.26358 1.68551 9.16213 1.64922 9.05656 1.63358C8.95099 1.61793 8.84337 1.62324 8.73985 1.6492C8.63633 1.67515 8.53894 1.72125 8.45324 1.78485C8.36754 1.84845 8.2952 1.92832 8.24038 2.01988L3.36538 10.1449C3.25461 10.3298 3.22184 10.5511 3.27425 10.7601C3.32667 10.9692 3.45999 11.1489 3.64487 11.2596C3.73642 11.3145 3.83788 11.3507 3.94344 11.3664C4.04901 11.382 4.15662 11.3767 4.26014 11.3507C4.46919 11.2983 4.64886 11.165 4.75962 10.9801L9.63462 2.85513C9.68949 2.76358 9.72578 2.66213 9.74142 2.55656C9.75707 2.45099 9.75176 2.34337 9.72581 2.23985C9.69985 2.13633 9.65376 2.03894 9.59015 1.95324C9.52655 1.86754 9.44669 1.79521 9.35512 1.74038Z"
          fill="black"
        />
        <path
          d="M1.625 10.875H1.125V11.375V13V13.5H1.625H24.375H24.875V13V11.375V10.875H24.375H1.625ZM0.591529 10.3415C0.650134 10.2829 0.72962 10.25 0.8125 10.25H25.1875C25.2704 10.25 25.3499 10.2829 25.4085 10.3415C25.4671 10.4001 25.5 10.4796 25.5 10.5625V13.8125C25.5 13.8954 25.4671 13.9749 25.4085 14.0335C25.3499 14.0921 25.2704 14.125 25.1875 14.125H0.8125C0.729619 14.125 0.650134 14.0921 0.591529 14.0335C0.532924 13.9749 0.5 13.8954 0.5 13.8125V10.5625C0.5 10.4796 0.532924 10.4001 0.591529 10.3415Z"
          fill="black"
          stroke="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M22.75 14.625H3.25V22.75C3.25 23.181 3.4212 23.5943 3.72595 23.899C4.0307 24.2038 4.44402 24.375 4.875 24.375H21.125C21.556 24.375 21.9693 24.2038 22.274 23.899C22.5788 23.5943 22.75 23.181 22.75 22.75V14.625ZM3.25 13C2.81902 13 2.4057 13.1712 2.10095 13.476C1.7962 13.7807 1.625 14.194 1.625 14.625V22.75C1.625 23.612 1.96741 24.4386 2.5769 25.0481C3.1864 25.6576 4.01305 26 4.875 26H21.125C21.987 26 22.8136 25.6576 23.4231 25.0481C24.0326 24.4386 24.375 23.612 24.375 22.75V14.625C24.375 14.194 24.2038 13.7807 23.899 13.476C23.5943 13.1712 23.181 13 22.75 13H3.25Z"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M6.5 16.25C6.71549 16.25 6.92215 16.3356 7.07452 16.488C7.2269 16.6403 7.3125 16.847 7.3125 17.0625V21.9375C7.3125 22.153 7.2269 22.3597 7.07452 22.512C6.92215 22.6644 6.71549 22.75 6.5 22.75C6.28451 22.75 6.07785 22.6644 5.92548 22.512C5.7731 22.3597 5.6875 22.153 5.6875 21.9375V17.0625C5.6875 16.847 5.7731 16.6403 5.92548 16.488C6.07785 16.3356 6.28451 16.25 6.5 16.25ZM9.75 16.25C9.96549 16.25 10.1722 16.3356 10.3245 16.488C10.4769 16.6403 10.5625 16.847 10.5625 17.0625V21.9375C10.5625 22.153 10.4769 22.3597 10.3245 22.512C10.1722 22.6644 9.96549 22.75 9.75 22.75C9.53451 22.75 9.32785 22.6644 9.17548 22.512C9.0231 22.3597 8.9375 22.153 8.9375 21.9375V17.0625C8.9375 16.847 9.0231 16.6403 9.17548 16.488C9.32785 16.3356 9.53451 16.25 9.75 16.25ZM13 16.25C13.2155 16.25 13.4222 16.3356 13.5745 16.488C13.7269 16.6403 13.8125 16.847 13.8125 17.0625V21.9375C13.8125 22.153 13.7269 22.3597 13.5745 22.512C13.4222 22.6644 13.2155 22.75 13 22.75C12.7845 22.75 12.5778 22.6644 12.4255 22.512C12.2731 22.3597 12.1875 22.153 12.1875 21.9375V17.0625C12.1875 16.847 12.2731 16.6403 12.4255 16.488C12.5778 16.3356 12.7845 16.25 13 16.25ZM16.25 16.25C16.4655 16.25 16.6722 16.3356 16.8245 16.488C16.9769 16.6403 17.0625 16.847 17.0625 17.0625V21.9375C17.0625 22.153 16.9769 22.3597 16.8245 22.512C16.6722 22.6644 16.4655 22.75 16.25 22.75C16.0345 22.75 15.8278 22.6644 15.6755 22.512C15.5231 22.3597 15.4375 22.153 15.4375 21.9375V17.0625C15.4375 16.847 15.5231 16.6403 15.6755 16.488C15.8278 16.3356 16.0345 16.25 16.25 16.25ZM19.5 16.25C19.7155 16.25 19.9222 16.3356 20.0745 16.488C20.2269 16.6403 20.3125 16.847 20.3125 17.0625V21.9375C20.3125 22.153 20.2269 22.3597 20.0745 22.512C19.9222 22.6644 19.7155 22.75 19.5 22.75C19.2845 22.75 19.0778 22.6644 18.9255 22.512C18.7731 22.3597 18.6875 22.153 18.6875 21.9375V17.0625C18.6875 16.847 18.7731 16.6403 18.9255 16.488C19.0778 16.3356 19.2845 16.25 19.5 16.25Z"
          fill="black"
        />
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="26" height="26" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <span class="cart-products-count small header__pill" v-if="products_nb">{{ products_nb }}</span>
  </button>
</template>

<script>
export default {
  name: 'ShoppingCartBtn',
  props: {
    products_nb: {
      type: Number,
      default: null
    },
  },
  methods: {
    toggle() {
      this.$emit('toggleWrapper')
    }
  }
}
</script>