<template>
  <div class="ShoppingCartSummary modal-footer">
    <div class="ShoppingCartSummary__wrapper w-100">
      <div class="ShoppingCartSummary__row" v-if="cart.subtotals.products">
        <div class="ShoppingCartSummary__col">
          {{ cart.subtotals.products.label }}
        </div>
        <div class="ShoppingCartSummary__col text-right">
          {{ cart.subtotals.products.value }}
        </div>
      </div>
      <div class="ShoppingCartSummary__row" v-if="cart.subtotals.shipping">
        <div class="ShoppingCartSummary__col">
          {{ cart.subtotals.shipping.label }}
        </div>
        <div class="ShoppingCartSummary__col text-right">
          {{ cart.subtotals.shipping.value }}
        </div>
      </div>
      <div
        class="ShoppingCartSummary__row"
        v-if="cart.totals.total_including_tax"
      >
        <div class="ShoppingCartSummary__col">
          {{ cart.totals.total_including_tax.label }}
        </div>
        <div class="ShoppingCartSummary__col text-right">
          {{ cart.totals.total_including_tax.value }}
        </div>
      </div>
      <div
        class="ShoppingCartSummary__row"
        v-if="cart.totals.total_excluding_tax"
      >
        <div class="ShoppingCartSummary__col">
          {{ cart.totals.total_excluding_tax.label }}
        </div>
        <div class="ShoppingCartSummary__col text-right">
          {{ cart.totals.total_excluding_tax.value }}
        </div>
      </div>
      <div class="ShoppingCartSummary__row" v-if="cart.totals.total">
        <div class="ShoppingCartSummary__col">
          {{ cart.totals.total.label }}
        </div>
        <div class="ShoppingCartSummary__col text-right">
          {{ cart.totals.total.value }}
        </div>
      </div>
      <div class="ShoppingCartSummary__footer">
        <button
          type="button"
          class="btn btn-link btn-block"
          @click="$emit('close')"
        >
          back to shopping
        </button>
        <a :href="`${url}?action=show`" class="btn btn-primary btn-block"> Go to cart </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ShoppingCartSummary",
  props: {
    url: {
      type: String,
      default: null,
    },
    cart: {
      type: Object,
      default: null,
    },
  },
};
</script>

<style lang="scss">
.ShoppingCartSummary {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0.5rem 0;
  }
}
</style>