<template>
  <div class="ShoppingCartWrapper modal fade show d-block">
    <div class="modal-dialog modal-dialog__offcanvas modal-dialog__offcanvas--md modal-dialog__offcanvas--right">
      <div class="modal-content ShoppingCartWrapper__content">
        <div class="modal-header">
          <h3 class="modal-title">{{ title }}</h3>
          <button type="button" data-dismiss="modal" aria-label="close" class="close" v-on:click="close">
            <span class="d-flex" aria-hidden="true"><i class="material-icons">close</i></span>
          </button>
        </div>
        <div class="ShoppingCartWrapper__products modal-body">
          <shopping-cart-product v-for="(product,k) in products" :product="product" :quantity="quantity" :key="k"/>
        </div>
        <shopping-cart-summary :url="url" :cart="cart" @close="close"  />
      </div>
    </div>
  </div>
</template>

<script>
import ShoppingCartProduct from './ShoppingCartProduct.vue'
import ShoppingCartSummary from './ShoppingCartSummary.vue'

export default {
  name: 'ShoppingCartWrapper',
  components: {
    ShoppingCartProduct,
    ShoppingCartSummary
  },
  props: {
    products: {
      type: Array,
      default: []
    },
    title: {
      type: String,
      default: null
    },
    quantity: {
      type: String,
      default: null
    },
    cart: {
      type: Object,
      default: null
    },
    url: {
      type: String,
      default: null
    }
  },
  methods: {
    close() {
      this.$emit('toggleWrapper')
    }
  }
}
</script>

<style lang="scss">
.ShoppingCartWrapper {

  &__content {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 59px 1fr 1fr;
  }

}
</style>