<template>
  <article class="ShoppingCartProduct border-bottom">
    <div class="ShoppingCartProduct__image">
      <img 
        :src="product.cover.bySize.small_default.url" 
        :width="product.cover.bySize.small_default.width"
        :height="product.cover.bySize.small_default.height"
      />
    </div>
    <div class="ShoppingCartProduct__wrapper">
      <h3 class="ShoppingCartProduct__name">
        <a :href="product.url">{{ product.name }}</a>
      </h3>
      <div class="ShoppingCartProduct__attributes" v-if="product.attributes">
        <span v-for="(attribute, group) in product.attributes" :key="group">
          {{ `${group}: ${attribute}` }}
        </span>
      </div>
      <div class="ShoppingCartProduct__qty">
        {{ `${quantity}: ${product.quantity}` }}
      </div>
      <a rel="nofollow" 
        :href="product.remove_from_cart_url"
        data-link-action="delete-from-cart" 
        :data-id-product="product.id_product"
        :data-id-product-attribute="product.id_product_attribute" 
        :data-id-customization="product.id_customization" 
        class="ShoppingCartProduct__remove remove-from-cart"
      >
        <i class="material-icons float-left">delete</i>
      </a>
    </div>

  </article>
</template>

<script>
export default {
  name: 'ShoppingCartProduct',
  props: {
    product: {
      type: Object,
      default: null
    },
    quantity: {
      type: String,
      default: null
    },
  }
}
</script>

<style lang="scss">
.ShoppingCartProduct {
  display: grid;
  grid-template-columns: 98px 1fr;
  grid-gap: 1rem;
  padding: .25rem;
  
  &__name {
    font-size: .75rem;
    font-weight: bold;
    margin-bottom: .25rem;
  }

  &__attributes,
  &__qty {
    font-size: .75rem;
  }

}
</style>