.themeconfig__title {
    font-size: 2.75rem;
    font-weight: 600;
}
.themeconfig__content {
    font-size: 1rem;
    font-weight: 500;
}

.themeconfig__footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    margin-bottom: 3rem;
    width: 100%;
    min-height: 300px;
    z-index: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #777;
}
.themeconfig__footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
    z-index: -1;
}