

.wishlist__icon {
    transition: transform .1s ease;
    font-size: 1.5rem;
}

.wishlist-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 0; 
    right: 0;
    color: $gray-600;
    border: none;
    background: none;
    padding: 0;
    width: $spacer*2.875;
    height: $spacer*2.875;
    border-radius: 50%;
    line-height: 1;
    font-size: 20px;
    outline: transparent;
    transition: color .25s ease;
    cursor: pointer;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-font-smoothing: subpixel-antialiased;
    background: $white;
    border: 1px solid $gray-300;

    $self: &;

    &:hover,
    &:active,
    &:focus {
        outline: transparent;
    }

    &__icon {
        font-size: 1.375rem;
    }

   &__path {
    fill: $gray-700;
    transition: transform .1s ease-in-out, fill .1s ease-in-out;

    &--filled {
        fill: $primary;
        transform: scale(0);
        transform-origin: center;
    }

   }
    &--liked {
        #{$self}__icon {
            animation: heartBeat .25s both;
        }
        #{$self}__path {
            
            &--current {
                fill: $primary;
            }

            &--filled {
                transform: scale(1); 
            }
        }
    }

}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.my-wishlist {
    position: relative;
}

.wishlist__counter--unvisble {
    opacity: 0;
}

.wishlist__loader {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 3;
    justify-content: center;
    background: rgba($white, .8);
    opacity: 0;
}

.my-wishlist--loading .wishlist__loader {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.wishlist-product__wrapper {
    position: relative;
    overflow: hidden;
}
.wishlist-product__remove {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: .5rem;
    border: none;
    background: #eee;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .15s ease, transform .15s ease;
}
.wishlist-product__wrapper:hover .wishlist-product__remove{
    opacity: 1;
    transform: translateX(0);
}
.wishlist-product__content {
    padding: 1rem;
}