//.blockcart{
//  color:$blockcart-color;
//  background-color: $blockcart-background-color;
//  padding:$blockcart-padding;
//}
//.blockcart.inactive{
//  color:$blockcart-inactive-color;
//  background-color: $blockcart-background-color;
//  .material-icons{
//    color:$blockcart-inactive-color;
//  }
//}
.product-line-actions {
  display: grid;
  grid-gap: $spacer;
  grid-template-columns: 150px 1fr;

  // .input-group.bootstrap-touchspin{
  //   max-width: 130px;
  // }
}
.product-line-grid {
  .product-line__title {
    margin-bottom: 0;
    font-weight: $font-weight-bold;
  }
  .product-price {
    display: flex;
    align-items: center;
    .discount {
      font-size: $font-size-sm;
      line-height: 1;
    }
  }
  .product-discount {
    margin-right: $spacer/2;
  }
}
.product-line__img {
  margin-right: $spacer;
}
@include media-breakpoint-mobile {
  .product-line__img {
    height: auto;
    margin-bottom:1rem
  }
}
.cart__card-body {
  position: relative;
  .cart__card-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba($white, 0.85);
    opacity: 0;
    transition: $transition-fade;
    z-index: 3;
  }
  &.is--loading {
    .cart__card-loader {
      display: flex;
      opacity: 1;
    }
  }
}

// @include media-breakpoint-mobile{
//   .checkout {
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     z-index: 2;
//     padding: 1rem;
//     background-color: rgba(0,0,0,.4);
//     a{
//       width: 100%;
//     }
//   }
// }
.product-line__body {
  padding-right: $spacer/4;
}
@include media-breakpoint-mobile{
  .product-line__body {
    padding-right: 0px;
  }
}

//order confirmation table
.table__title-head {
  margin-bottom: 0;
  font-size: $small-font-size;
  font-weight: $font-weight-bold;
}
/* CART */
.promo-code {
  margin-left: -$card-spacer-x;
  margin-right: -$card-spacer-x;
}
.promo-code-alert {
  display: none;
}
.cancel-promo {
  text-align: center;
}
.card-body .separator {
  margin-left: -$card-spacer-x;
  margin-right: -$card-spacer-x;
}
.cart-grid {
  display: grid;
  grid-template-columns: 1fr minmax(320px, auto);
  grid-gap: $spacer * 4;

  @include media-breakpoint-mobile() {
    grid-gap: $spacer * 2;
    grid-template-columns: minmax(290px, auto);

    &-right {
      grid-row: 2;
    }
  }
}

.cart__media{
  display:flex;
  align-items: flex-start;
  padding-top:18px;
}
@include media-breakpoint-mobile{
  .cart__media{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding-top:15px;
  }
}
.cart-summary {
  background: $white;
  
  @include media-breakpoint-desktop {
    position: sticky;
    top: 1rem;
  }

  &-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label,
    &__value {
      display: inline-flex;
      align-items: center;
    }

    &--free {
      @extend .text-success;
    }
  }
  &-totals {
    &__total {
      padding: $spacer 0;
      margin-bottom: $spacer * 2;
      border-bottom: 1px solid $border-color;
    }
  }
  &-subtotals {

    &-container {
      @extend .cart-detailed-totals__wrapper;
    }
  }
}
.cart-total {
  font-weight: bold;
}
.card-body--summary {
  .cart-total {
    padding: $spacer/4;
    .label {
      margin-bottom: 0;
    }
  }
  &.card-body {
    padding-bottom: 0;
  }
}
.media-list__item:not(:last-child) {
  margin-bottom: $spacer/2;
}

//cart summary
.link__showsummary {
  .material-icons {
    @extend .icon-collapse;
  }
  &[aria-expanded="true"] .material-icons {
    transform: rotateZ(180deg);
  }
}
.cart-item:not(:last-child) {
  margin-bottom: $spacer;
}
.product-line-info {
  margin-bottom: $spacer/2;
}

.promo-highlighted {
  text-align: center;
  font-size: $font-size-sm;
  margin-top: $spacer;
  margin-bottom: $spacer/2;
}
.promo-discounts {
  font-weight: $font-weight-bold;
  text-align: center;
  color: $gray-700;
  .code {
    color: $tertiary;
  }
}
.form__add-voucher {
  margin-bottom: $spacer;
}

.cart-line-product-actions {
  position: absolute;
  top: 0;
  right: 0;

  &__btn {
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

.cart-detailed-totals {
  &__wrapper {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: $spacer 0;
  }
}

.cart-voucher {
  &__remove {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.checkout-process {
  .card {
    border: none;
  }
}
