@include media-breakpoint-desktop {
  .collpase--facet {
    &.collapse {
      display: block;
    }
  }
  .facet__block:not(:last-child) {
    padding-bottom: $spacer;
  }
}
@include media-breakpoint-mobile {
  .facet__block:not(.show) {
    padding-bottom: 0;
  }
}

.facet__block:not(:last-child) {
  margin-bottom: $spacer;
  border-bottom: 1px solid $card-border-color;
}

.facet__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacer/1.5;
}

.facet__title {
  margin-bottom: 0;
  font-weight: $font-weight-bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.left-column .search_filters {
  @extend .card-block;
}

.custom-color {
  &.custom-control {
    padding-left: 0;
    margin-bottom: 0.25rem;
  }
  .custom-control-label:before,
  .custom-control-label:after {
    display: none;
  }
  .color {
    margin-right: 0.25rem;
    border: none;
  }
  .color__label {
    //dis
    line-height: 1.25;
    display: inline-block;
  }
  &.custom-control--active {
    .color {
      border: 2px solid black;
    }
  }
}

.btn--clearfilter {
  margin-bottom: $spacer;
}
//
.active-filter__title {
  margin-bottom: $spacer/2;
  font-weight: bold;
}

.active_filters {
  margin-bottom: $spacer * 1.25;

  .slick-slide {
    margin-right: $spacer * 0.75;
  }

  &__item {
    display: inline-flex;
  }
}
//.active_filters{
// display: flex;
// align-items: center;
// padding: $spacer;
// margin-bottom: $spacer;
//}
//.active_filters_title{
// margin: 0;
// margin-right: $spacer / 2;
//}
//.active_filters_item{
// margin-right: $spacer;
//}

.faceted-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(25, 25, 25, 0.5);
  z-index: $zindex-modal + 1;
}

.faceted-overlay .overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.faceted-overlay .overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.faceted-overlay .spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/**
 * 2007-2019 PrestaShop.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade PrestaShop to newer
 * versions in the future. If you wish to customize PrestaShop for your
 * needs please refer to http://www.prestashop.com for more information.
 *
 * @author    PrestaShop SA <contact@prestashop.com>
 * @copyright 2007-2019 PrestaShop SA
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 * International Registered Trademark & Property of PrestaShop SA
 */
#search_filters .ui-slider-horizontal .ui-slider-handle {
  margin-left: -1px;
  cursor: pointer;
}

#search_filters li .ui-widget-header {
  background: lighten($primary, 35%);
}

#search_filters li .ui-slider .ui-slider-handle {
  top: -0.375rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: $primary;
  border: none;
}
#search_filters li .ui-slider-horizontal {
  height: 0.25rem;
  border: none;
  background: $gray-200;
}

/**
 * 2007-2019 PrestaShop.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License 3.0 (AFL-3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://opensource.org/licenses/AFL-3.0
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@prestashop.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade PrestaShop to newer
 * versions in the future. If you wish to customize PrestaShop for your
 * needs please refer to http://www.prestashop.com for more information.
 *
 * @author    PrestaShop SA <contact@prestashop.com>
 * @copyright 2007-2019 PrestaShop SA
 * @license   https://opensource.org/licenses/AFL-3.0 Academic Free License 3.0 (AFL-3.0)
 * International Registered Trademark & Property of PrestaShop SA
 */
//#search_filters .facet .facet-title {
//  width: calc(100% - 30px);
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap; }
//
//#search_filters .facet .facet-label {
//  width: 100%;
//  text-align: left; }
//#search_filters .facet .facet-label .custom-checkbox,
//#search_filters .facet .facet-label .custom-radio {
//  top: -7px;
//  margin-right: 0; }
//#search_filters .facet .facet-label .color {
//  margin-left: 0; }
//#search_filters .facet .facet-label a {
//  width: calc(100% - 30px);
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap; }

// pm_advancedsearch4 filters

.facet {
  .PM_ASCritRange {
    max-width: calc(100% - 0.5rem);
  }
  .ui-slider-horizontal {
    height: 0.25rem;
    border: none;
    background: $gray-300;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default {
    border-radius: 50%;
    background: $primary;
    width: 1rem;
    height: 1rem;
    border: none;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba($primary, 0.2);
      border-radius: 50%;
      transform: scale(1);
      opacity: 0;
      transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
      top: 0;
      right: 0;
    }

    &.ui-state-hover,
    &.ui-state-focus,
    &.ui-state-active {
      &::before {
        transform: scale(1.6);
        opacity: 1;
      }
    }
  }

  .ui-slider-horizontal .ui-slider-range {
    background: $primary;
  }

  .ui-slider-horizontal .ui-slider-handle {
    top: 0;
    transform: translateY(calc(-50% + 0.125rem));
  }
}

.PM_ASResetSearch {
  @extend .btn;
  @extend .btn-back;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  margin-bottom: 1rem;

  &:hover {
    background: $border-color;
  }
}

.PM_ASSelectionsRemoveLink {
  @extend .btn;
  @extend .btn-close;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  margin: 0 $spacer * 0.75 $spacer * 0.75 0;

  &:hover {
    background: $border-color;
  }
}

@include media-breakpoint-desktop {
  .search_filters {
    &__btn {
      display: none;
    }

    &__wrapper {
      &.modal {
        position: relative;
        opacity: 1;
        display: block;
        overflow: unset;

        .search_filters__dialog {
          width: 100%;
          max-width: 100%;
          position: relative;
          transform: none;
        }
        .modal-dialog__offcanvas .modal-body {
          overflow-y: unset;
        }
      }
    }

    &__content {
      border: none;
    }

    &__header {
      display: none;
    }

    &__body {
      padding: 0;

    }
  }
}

@include media-breakpoint-mobile {
}

/*# sourceMappingURL=front.css.map*/
