.l-footer {

  .cms-page-link,
  .account-list a{
    color: $text-muted;
    &:hover{
      color: theme-color('primary');

    }
  }
}
.footer__wrapper {
  background: $gray-200;
  padding: 0 0 $spacer*3 0;
}

.footer__container{
  margin-top: $footer-container-margin-top;
  @include media-breakpoint-mobile {
    margin-top: $footer-container-margin-top/2;
  }
}

.footer__title{
  color:$black;
  &:visited,&:hover{
    color: $black;
  }
  display: block;
  font-weight: 600;
  margin-bottom: $spacer/2;
  &--mobile{
    display: none;
    margin-bottom: 0;
    padding: $spacer/1.5 0;
    border-bottom: 1px solid $border-color;
    

    // &:after{
    //   content:"\e313";
    //   font-family: 'Material Icons';
    //   font-feature-settings: 'liga' 1;
    //   position: absolute;
    //   right: $grid-gutter-width/2;
    //   transition: .3s transform ease-in-out;
    //   font-size: $font-size-base *1.5;
    // }

    & i {
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: 1.15625rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,transform .15s ease-in-out;
    }
    &[data-toggle="collapse"][aria-expanded="true"] i {
      transform: rotate(-90deg);
    }
  }
}

@include media-breakpoint-mobile {
  .footer {
    &__submenu {
      margin: 10px 0 10px 10px;
      & li {
        padding: $spacer/1.5 0;
      }
    }
    &__title  {
      &--desktop{

        display: none;
      }
      &--mobile{
        display: block;
      }
    }
  }
}
.footer__copyright{
  text-align: center;
  font-size: $font-size-sm;
}
.newsletter {
  // padding: 1rem 0;

  &__title {
    font-size: 2.25rem;
    font-weight: 700;

    &::after {
      content: "";
      margin-top: .375rem;
      width: 100%;
      max-width: 70px;
      height: .25rem;
      background: $primary;
      display: block;
    }
  }
}