.modal-dialog__offcanvas
{
  .modal-content {
    height: inherit;
    // border-width: 0;
    border-radius: 0;
  }
  .modal-header {
    border-radius: inherit;
  }
  .modal-body {
    overflow-y: auto;
    height: inherit;
  }
}

.modal.fade .modal-dialog__offcanvas
{
  width: 350px;
  height: 100%;
  margin: 0;
  max-width: 90%;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform .3s ease-out;
  &.modal-dialog__offcanvas--md {
    width: 500px;
  }
  &.modal-dialog__offcanvas--lg {
    width: 650px;
  }
  &.modal-dialog__offcanvas--xl {
    width: 800px;
  }
  &.modal-dialog__offcanvas--right {
    right: 0;
    transform: translateX(100%);
  }
}

.modal.fade:not(.show) .modal-dialog__offcanvas
{
  &.modal-dialog__offcanvas--animate-from-right {
    transform: translateX(100vw);
  }
  &.modal-dialog__offcanvas--right-animate-from-left {
    transform: translateX(-100vw);
  }
}

.modal.show .modal-dialog__offcanvas
{
  transform: translateX(0);
  &.modal-dialog__offcanvas--right {
    transform: translateX(0);
  }
}