@include media-breakpoint-desktop {
  .product-comment-modal .modal-dialog {
    max-width: 774px;
  }
}

@include media-breakpoint-mobile {
  #product-comments-list {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .product-comment-list-item {
    display: flex;
    flex-direction: column;
  }

  .comment-infos {
    max-width: 100%;
    padding-top: 20px;
  }
  .comment-content {
    max-width: 100%;
    flex-basis: 100%;
  }
}

@include media-breakpoint-only(lg) {
  #product-comments-list {
    // max-width: 100%;
    flex: 0 0 100%;
  }
  .product-comment-list-item {
    display: flex;
    flex-direction: column;
  }
  .comment-infos {
    max-width: 100%;
    padding-top: 20px;
  }
  .comment-content {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.modal--product-comment-posted-modal,
.modal--report-comment-posted {
  .modal-header {
    color: $success;
  }
}
.product-comment-post-error-message {
  .modal-header {
    color: $danger;
  }
}
.grade-stars,
.comments-note {
  display: flex;
}

/** product list **/

.product-list-reviews {
  .grade-stars {
    justify-content: center;
  }
}
/** product page **/

.product-comments {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
}
.product-comments-additional-info {
  margin: $spacer 0;
}
.comments-note {
  .grade-stars {
    margin-left: $spacer/4;
  }
  margin-bottom: $spacer/2;
}
.comments__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-comment-list-item {
  margin-bottom: $spacer;
}
.comment-infos {
  .grade-stars {
    margin-bottom: $spacer;
  }
  .comment-date,
  .comment-author {
    font-size: $font-size-sm;
  }
}

/* comment list */
.product-comments__pagination {
  ul {
    @extend .pagination;
    @extend .pagination-sm;
  }
  li {
    @extend .page-item;

    span {
      @extend .page-link;
    }
    &:not(.disabled) {
      span:not(.current) {
        cursor: pointer;
      }
    }
  }
}
/* MODAL COMMENT */
/* radio input star ratig */
@import "starability/starability-base";

.starability-basic {
  @include starability-base;
  min-height: auto;
  // input {
  //     position: absolute;
  //     margin-right: -100%;
  //     opacity: 0;
  // }
}

.product-criterion {
  display: flex;
  justify-items: center;
  justify-content: flex-end;
  margin-bottom: $spacer;
  &__name {
    width: auto;
    font-size: $font-size-base;
    margin-bottom: 0;
    margin-right: $spacer/4;
  }
  label {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  .comment__name {
    padding-left: 35px;
  }
}


.comments-note {

  &__grade {
    position: relative;
  }

  &__stars {
    font-size: $pm-rate-stars-size;
    letter-spacing: 2px;
    color: $gray-200;
    line-height: 1;
    display: flex;

    &--small {
      font-size: $pm-rate-stars-size*0.75;
    }

    &--filled {
      top: 0;
      left: 0;
      position: absolute;
      width: 0;
      color: $yellow;
      height: 100%;
      overflow: hidden;
    }
  }

  &__total {
    color: $gray-600;
    font-size: $pm-rate-total-size;
    margin-left: $spacer/4;
  }

}

.grade {

  &__star {
    @extend .comments-note__stars;

    &--on,
    &--filled {
      color: $yellow;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  
    &:hover {
      cursor: pointer;
    }

    &--static {

      &:hover {
        cursor: default;
      }
    }
  }
}

.comment__author {
  font-weight: 600;
}




// @include media-breakpoint-down(xs) {
//   .product-comment-modal .modal-dialog .header__comment--modal > h2 {
//     font-size: 15.5px;
//     font-weight: 500;
//   }

//   .product-comment-modal .modal-dialog .comment__buttons {
//     flex-direction: column;
//   }

//   .product-comment-modal  .modal-dialog {
//     &[role='document']{
//       width: auto;
//     }
              
//   }

//   .product-comment-modal .modal-dialog  .comment__label--title {
//     padding-bottom: 5px;
//     margin: 0px;
//     font-weight: 600;
//     font-size: 13.5px;
//     & {
//       padding-top: 0px;
//     }
//   }

//   .product-comment-modal .modal-dialog  .comment__label--review {
//     padding-top: 15px;
//     padding-bottom: 5px;
//     margin: 0px;
//     font-weight: 600;
//     font-size: 13.5px;
//   }

//   .product__cover--comment {
//     margin: 1rem auto;
//   }

//   .comment__name {
//     text-align: center;
//   }
// }
