@import url("~@fancyapps/fancybox/dist/jquery.fancybox.css");

.products {
  @extend .row;
  align-items: stretch;
}
.product-miniature {
  @extend .col-6;
}

@include media-breakpoint-up(md) {
  .product-miniature {
    @include make-col(6);
  }
}

@include media-breakpoint-up(lg) {
  .product-miniature {
    @include make-col(4);
  }
}

@include media-breakpoint-up(xl) {
  .product-miniature {
    @include make-col(3);
  }
}

@media (max-width: 360px) {
  .product-miniature {
    @include make-col(12);
  }
}


// @include media-breakpoint-desktop {
//   .product-miniature {
//     @include make-col(3);
//   }

//   .layout-full-width .product-miniature {
//     @include make-col(2);
//   }
// }



.slick-slide .product-miniature {
  max-width: 100%;
}
/* Product miniature*/

.card-img-top {
  overflow: hidden;
  .product-thumbnail img {
    width: 100%;
  }
}
.product-miniature .highlighted-informations {
  position: absolute;
  bottom: 0;
  width: 100%;
  // background-color: $pm-highlight-bg-color;
  transform: translateY(102%);
  transition: transform 0.3s;
  .card-product:hover & {
    transform: translateY($pm-highlight-translateY);
  }
}
.quick-view {
  cursor: pointer;
}

.product-flags {
  position: absolute;
  top: 0;
  margin-bottom: 0;
  z-index: 1;
  left: -$spacer/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-content--product {
  position: sticky;
  top: 1rem;
  z-index: 1020;

  .product-flags {
    left: 0;
  }
}

.product-flag {
  color: $white;
  background-color: theme-color("primary");
  border-color: theme-color("primary");
  box-shadow: 0 0.125rem 0.5rem rgba(theme-color("primary"), 0.2);
  margin-bottom: $spacer/2;
  padding: $spacer/4 $spacer/3;
  border-radius: $border-radius;

  &.discount-product {
    background: $tertiary;
    box-shadow: 0 0.125rem 0.5rem rgba($tertiary, 0.2);
  }

  &.in_stock {
    background: $orange;
    box-shadow: 0 0.125rem 0.5rem rgba($orange, 0.2);
  }
}
.color {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-size: contain;
}

.product-title {
  color: $pm-name-color;
  font-size: $pm-name-font-size;
  text-decoration: none;
  text-align: center;
  font-weight: $pm-name-font-weight;
  & a {
    color: $pm-name-color;
    &:hover {
      color: $pm-name-hover-color;
      border-bottom: $pm-name-hover-border-width solid $pm-name-hover-border-color;
    }
  }
  .card-product:hover & {
    color: $pm-name-hover-color;
    & a {
      color: $pm-name-hover-color;
    }
  }
}

/* PRODUCT PAGE */

.products-imagescover {
  box-shadow: $card-box-shadow;
}
.product-img:not(:first-child) .rc {
  display: none;
}
.slick-initialized .product-img .rc {
  display: block;
}

// .product-thumbs {
//   width: $product-thumb-wrap-width;
//   height: $product-thumb-wrap-height;
//   margin: 0 auto;
//   &[data-count="2"] {
//     width: $product-thumb-wrap-width-2;
//   }
//   .slick-slide > div {
//     cursor: pointer;
//   }
//   &:not(.slick-initialized) > div:not(:first-child) {
//     display: none;
//   }
// }

@include media-breakpoint-mobile {
  .product__thumbs {
    display: none;
  }
}

.product-thumbs {
  width: $product-thumb-wrap-width;
  // height: $product-thumb-wrap-height;
  margin: 0 auto;
  &[data-count="2"] {
    height: $product-thumb-wrap-height-2;
  }
  // height: 100%;

  .slick-slide > div {
    cursor: pointer;
  }
  // &:not(.slick-initialized) > div:not(:first-child) {
  //   display: none;
  // }
}

.product-thumb {
  margin-bottom: $product-thumb-margin;

  &__item {
    width: $product-thumb-width;
    height: $product-thumb-height;
    border: 2px solid transparent;
  }

  &.slick-current {
    .product-thumb__item {
      border-color: theme-color("primary");
    }
  }
}
.btn-zoom {
  position: absolute;
  right: $spacer;
  bottom: $spacer;
  cursor: pointer;
  display: none;
  padding: 0;
  line-height: 1;
  & .material-icons {
    font-size: 3 * $font-size-base;
  }
}

.images-container {
  @include media-breakpoint-desktop {
    & {
      position: sticky;
      top: 0;
      left: 0;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;

    @include media-breakpoint-desktop {
      &[data-grid="true"] {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: $product-thumb-width minmax(0, 1fr);
      }
    }
  }

  &:hover {
    .btn-zoom {
      display: block;
    }
  }
}

.label-color {
  line-height: 1;
  margin-right: $spacer/2;
}
.product-variants__item .color {
  width: 3rem;
  height: 3rem;
  border: 2px solid $white;
}

.input-color:checked + span,
.input-radio:checked + span {
  border-color: $colorbox-border-color;
}

//product prices
.product-prices {
  margin-bottom: $spacer;
  line-height: 1.3;

  .current-price-display {
    font-size: $product-price-current-font-size;
  }
}
.price {
  color: $product-price-current-color;

  font-weight: $product-price-current-font-weight;
  font-family: $product-price-current-font-family;
  &.current-price-discount {
    color: $product-price-discount-color;
    font-size: $product-price-discount-font-size;
    font-weight: $product-price-discount-font-weight;
    font-family: $product-price-discount-font-family;
  }
}
.regular-price {
  color: $product-price-regular-color;
  font-size: $product-price-regular-font-size;
  font-weight: $product-price-regular-font-weight;
  font-family: $product-price-regular-font-family;
  text-decoration: line-through;
}
.discount {
  font-weight: $product-price-current-font-weight;
}

//product tabs
.product-tabs {
  .nav-tabs {
    font-size: $font-size-base * 0.9;
  }
  //@extend .card;
  //@extend .card-block
  //box-shadow:$card-box-shadow;;
}
.card--reassurance {
  box-shadow: $card-box-shadow;
}

// modal add to cart
.cart-content,
.cart-buttons {
  width: 100%;
  // padding: $spacer;
  // background: theme-color("light");
}

//product pack
.pack-product-container {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  padding: 0 $spacer;
  font-size: $font-size-sm;
}
.mask {
  width: 55px;
}
.thumb-mask {
  padding: $spacer 0;
}
.pack-product__img {
  border: 1px solid $border-color;
}
.pack-product-name {
  @extend .flex-grow-1;
  @extend .mx-4;
}
.pack-product-quantity {
  border-left: 1px solid $border-color;
}
.pack-product-price {
  padding-right: $spacer/2;
}
.pack-product-quantity {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .align-self-stretch;
  padding-left: $spacer;
}

//modal cart
.modal-cart__image {
  margin-right: $spacer;
  max-width: 150px;
  height: auto;
}
.modal-cart__name,
.modal-cart__price {
  margin-bottom: $spacer/4;
}
.product-total {
  font-weight: $font-weight-bold;
}
.cart-content {
  > p:not(:last-child) {
    margin-bottom: $spacer/2;
  }
}
@include media-breakpoint-mobile {
  .modal-cart__image {
    max-width: 100px;
  }
  .blockcart-modal {
    display: block;
    .divide-right {
      display: flex;
      justify-content: center;
    }
    .modal-footer {
      // position: fixed;
      // bottom: 0;
      // background: #fff;
      // justify-content: center;
      // left: 0;
      // width: 100%;
      // box-shadow: 0px -0.25rem 0.5rem rgba($black, 0.15);
      flex-direction: column;
    }
    // .modal-body {
    //   margin-bottom: ($btn-padding-y * 2) + ($btn-font-size * $btn-line-height) + $modal-inner-padding * 2;
    // }
  }
}
@include media-breakpoint-down(xs) {
  .modal-cart__image {
    max-width: 70px;
  }
}
//spinner add to cart
.btn-add-to-cart {
  .btn-add-to-cart__spinner {
    @extend .spinner-border;
    width: $spinner-width-addtocart;
    height: $spinner-height-addtocart;
    border-width: $spinner-borderwidth-addtocart;
    display: none;
  }
  &.is--loading {
    .btn-add-to-cart__spinner {
      display: inline-block;
    }
    .btn-add-to-cart__icon {
      display: none;
    }
  }
}

.products-selection {
  justify-content: space-between;
  align-items: center;
}
.pack-miniature-item {
  margin-bottom: $spacer / 2;
}
.ratio1_1 {
  display: block;
}
.pack-product-name {
  margin: 0 $spacer * 1.5;
  flex-grow: 1;
}
.product-miniature {
  margin-bottom: $spacer;

  &__wrapper {
    height: 100%;
    position: relative;
    background-color: $pm-bg-color;
    border-width: $pm-border-width;
    border-color: $pm-border-color;
    &:hover {
      .highlighted-informations {
        transform: translateY(0);
      }
    }

    .discount {
      display: none;
    }
  }

  .productdeliverytabs {
    font-size: $font-size-sm;
    line-height: 1;
    @extend .my-1;
  }

}
.product__card-img {
  position: relative;
}
.product__card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.highlighted-informations {
  text-align: center;
}
.quantity__label {
  margin-bottom: 0;
  margin-top: $spacer;
}
.product-add-to-cart {
  // .product-quantity {
  //   margin-top: -($spacer);
  // }
  .qty {
    margin: $spacer $spacer 0 0;
  }
  .add {
    margin-top: $spacer;
  }
}
.product-customization {
  margin-bottom: $spacer * 1.5;
}
.product-discounts {
  margin-bottom: $spacer * 1.5;
}
.product__quantity {
  margin-bottom: 0;
}
.sort-by-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.total__item-show {
  text-align: center;
  font-size: $font-size-sm;
  margin-top: $spacer;
}
.variant-links {
  display: flex;
  justify-content: center;
}
.product__download {
  text-transform: uppercase;
}
.card--address {
  height: 100%;
  text-align: center;
  justify-content: center;
}
.invoice__address {
  margin-top: $spacer;
}
.invoice-address {
  height: 100%;
  text-align: center;
  justify-content: center;
}

.card__images {
  display: flex;
  flex-wrap: wrap;

  & > p {
    flex-basis: 50%;
    flex-shrink: 1;
    flex-grow: 1;
  }
}
.card__img{
  width: 100%;
  height: auto;
  padding: 0.2rem;
}

