.search-widget{
  max-width: 500px;
  margin: 0 auto;

  &__group {
    position: relative;
  }

  &__input {
    // padding: $spacer $spacer*3.5 $spacer $spacer;
    // width: 100%;
    // line-height: $input-btn-line-height;
    // font-size: $font-size-base;
    // font-weight: $font-weight-light;
    // background: $white;
    // border: 1px solid $gray-300;
    // border-radius: $border-radius;
    // transition: .2s ease;

    &:focus,
    &:active {
      outline: none;
      background: $gray-100;
      border-color: $gray-100;
    }
  }

  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3rem;
    background: none;
    border: none;
    padding: 0;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    .search {
      font-size: 1.325rem;
    }
  }
}

@include media-breakpoint-mobile{
  .search-widget{
    max-width: unset;
  }
  .search-widget__input{
    background: none;
    border: 1px solid $border-color;
  }
}
