img[data-lazy] {
  display: none;
}
.text-underline{
  text-decoration: underline;
}
.cursor-pointer{
  cursor: pointer;
}

.visible--desktop{
  @include media-breakpoint-mobile(){
    display: none;
  }
}
.visible--mobile{
  @include media-breakpoint-desktop(){
    display: none;
  }
}
.d--none{
  display: none;
}
.d--block{
  display: block;
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.d--flex-between{
  display: flex;
  justify-content: space-between;
}
.mb--0{
  margin-bottom: 0;
}
.text--center{
  text-align: center;
}
.text--right{
  text-align: right;

}
.u-a-i-c{
  align-items: center;
}
.u-m-l-2{
  margin-left: $spacer/2;
}
.u-link-body{
  color: $body-color;
}
.u-bor-top{
  border-top:1px solid $border-color;
}
.u-bor-bot{
  border-bottom:1px solid $border-color;
}
