.related-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.related-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;
}