// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  position: relative;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, 1, $btn-border-radius);
  @include transition($btn-transition);

  @include hover() {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);
  }

}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    border-width: $btn-border-width * 2;
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-line-height-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}


.btn-action {
  background: none;
  border: none;
  width: 2.875rem;
  height: 2.875rem;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::after {
    width: 1.5rem;
    height: 1.5rem;
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6875 5.41406C10.6875 5.76216 10.8258 6.096 11.0719 6.34214C11.3181 6.58828 11.6519 6.72656 12 6.72656C12.3481 6.72656 12.6819 6.58828 12.9281 6.34214C13.1742 6.096 13.3125 5.76216 13.3125 5.41406C13.3125 5.06597 13.1742 4.73213 12.9281 4.48598C12.6819 4.23984 12.3481 4.10156 12 4.10156C11.6519 4.10156 11.3181 4.23984 11.0719 4.48598C10.8258 4.73213 10.6875 5.06597 10.6875 5.41406ZM10.6875 11.9766C10.6875 12.3247 10.8258 12.6585 11.0719 12.9046C11.3181 13.1508 11.6519 13.2891 12 13.2891C12.3481 13.2891 12.6819 13.1508 12.9281 12.9046C13.1742 12.6585 13.3125 12.3247 13.3125 11.9766C13.3125 11.6285 13.1742 11.2946 12.9281 11.0485C12.6819 10.8023 12.3481 10.6641 12 10.6641C11.6519 10.6641 11.3181 10.8023 11.0719 11.0485C10.8258 11.2946 10.6875 11.6285 10.6875 11.9766V11.9766ZM10.6875 18.5391C10.6875 18.8872 10.8258 19.221 11.0719 19.4671C11.3181 19.7133 11.6519 19.8516 12 19.8516C12.3481 19.8516 12.6819 19.7133 12.9281 19.4671C13.1742 19.221 13.3125 18.8872 13.3125 18.5391C13.3125 18.191 13.1742 17.8571 12.9281 17.611C12.6819 17.3648 12.3481 17.2266 12 17.2266C11.6519 17.2266 11.3181 17.3648 11.0719 17.611C10.8258 17.8571 10.6875 18.191 10.6875 18.5391V18.5391Z' fill='black'%3E%3C/path%3E%3C/svg%3E");
  }
}

.btn-back {

  &::before {
    margin-right: 0.375rem;
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 8.00001C15 7.8674 14.9473 7.74022 14.8536 7.64645C14.7598 7.55268 14.6326 7.50001 14.5 7.50001H2.70701L5.85401 4.35401C5.9005 4.30752 5.93737 4.25233 5.96253 4.19159C5.98769 4.13085 6.00064 4.06575 6.00064 4.00001C6.00064 3.93426 5.98769 3.86916 5.96253 3.80842C5.93737 3.74768 5.9005 3.69249 5.85401 3.64601C5.80752 3.59952 5.75233 3.56264 5.69159 3.53748C5.63085 3.51232 5.56575 3.49937 5.50001 3.49937C5.43426 3.49937 5.36916 3.51232 5.30842 3.53748C5.24769 3.56264 5.1925 3.59952 5.14601 3.64601L1.14601 7.64601C1.09945 7.69245 1.0625 7.74763 1.0373 7.80837C1.01209 7.86912 0.999115 7.93424 0.999115 8.00001C0.999115 8.06577 1.01209 8.13089 1.0373 8.19164C1.0625 8.25238 1.09945 8.30756 1.14601 8.35401L5.14601 12.354C5.1925 12.4005 5.24769 12.4374 5.30842 12.4625C5.36916 12.4877 5.43426 12.5006 5.50001 12.5006C5.56575 12.5006 5.63085 12.4877 5.69159 12.4625C5.75233 12.4374 5.80752 12.4005 5.85401 12.354C5.9005 12.3075 5.93737 12.2523 5.96253 12.1916C5.98769 12.1308 6.00064 12.0657 6.00064 12C6.00064 11.9343 5.98769 11.8692 5.96253 11.8084C5.93737 11.7477 5.9005 11.6925 5.85401 11.646L2.70701 8.50001H14.5C14.6326 8.50001 14.7598 8.44733 14.8536 8.35356C14.9473 8.25979 15 8.13261 15 8.00001Z' fill='black'/%3E%3C/svg%3E%0A");
  }
}

.btn-close {

  &::before {
    margin-right: 0.375rem;
    content: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.6095 2.89051L2.89 3.61001L7.2815 8.00001L2.89 12.3905L3.61 13.11L8 8.71851L12.3905 13.1095L13.1095 12.3905L8.7185 8.00001L13.1095 3.60951L12.39 2.89001L8 7.28151L3.6095 2.89051Z' fill='black'/%3E%3C/svg%3E%0A");;
  }
}

// .btn-primary {
//   border: none;
//   background: rgb(96,177,119);
//   background: linear-gradient(90deg, rgba(96,177,119,1) 0%, rgba(177,183,58,1) 100%);
//   box-shadow: 0 0.125rem 0.5rem rgb(96 177 119 / 25%);
// }