//
// Color system
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eeeeee !default;
$gray-300: #dddddd !default;
$gray-400: #cccccc !default;
$gray-500: #bbbbbb !default;
$gray-600: #666666 !default;
$gray-700: #555555 !default;
$gray-800: #444444 !default;
$gray-900: #333333 !default;
$black:    #000000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e50000 !default;
$orange:  #fd7e14 !default;
$yellow:  #fdd835 !default;
$green:   #58a13a !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$green-light: #EDF9E8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray-light": $gray-200,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $red !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light
  ),
  $theme-colors
);

// Set a specific jump point for requesting color jumps
$theme-color-interval:      8% !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$link-color:                  $dark !default;

// Options
$enable-rounded:            true;
$enable-shadows:            true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 100%,
  // md: 720px,
  // lg: 960px,
  xl: 1768px
) !default;



// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xxs: 0,
  xs: 420px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1360px
) !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;

//
// Links
//
// Style anchor elements.


$link-hover-decoration:     none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Montserrat', sans-serif !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$headings-font-family:        null;

$font-size-base:              .925rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$line-height-base:            1.6 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$font-weight-base:            500 !default;
$font-weight-lighter:         300 !default;
$font-weight-light:           400 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          700 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               .125rem !default;
$border-radius-lg:            .125rem !default;
$border-radius-sm:            .122rem !default;

$h1-font-size:                $font-size-base * 1.375;
$h2-font-size:                $font-size-base * 1.25;
$h3-font-size:                $font-size-base * 1.125;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base * 0.975;
$h6-font-size:                $font-size-base * 0.925;

$headings-margin-bottom:      1rem;

$display1-size: 2.5rem;
$display1-weight: $font-weight-bolder;
$display2-size: 2rem;
$display2-weight: $font-weight-bolder;
$display3-size: 1.75rem;
$display3-weight: $font-weight-bolder;
$display4-size: 1.5rem;
$display4-weight: $font-weight-bolder;

$small-font-size:             $font-size-base * 0.875;


// Components
//
// Define common padding and border radius sizes and more.

$box-shadow:                  2px 2px 8px 0 rgba($black,.2);

// Navs

$nav-tabs-border-width:             2px;
$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-link-hover-border-color:  transparent transparent $nav-tabs-border-color;
$nav-tabs-link-active-color:        $primary;
$nav-tabs-link-active-border-color: transparent transparent $primary;
// Pagination

$pagination-border-color:           $gray-400;
$pagination-disabled-border-color:  $gray-400;
$pagination-hover-border-color:     $gray-400;

// Modals
$modal-lg:                          990px;

//tables
$table-bg : $white;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .825rem !default;
$input-btn-padding-x:         1rem !default;
$input-btn-font-family:       null !default;
$input-btn-font-size:         .75rem !default;
$input-btn-line-height:       1 !default;

$input-btn-focus-width:       .1875rem !default;
$input-btn-focus-color:       rgba($black, .10) !default;
$input-btn-focus-box-shadow:  0 $input-btn-focus-width 1rem $input-btn-focus-color !default;

$input-btn-padding-y-sm:      .525rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-font-size-sm:      $small-font-size !default;
$input-btn-line-height-sm:    1 !default;

$input-btn-padding-y-lg:      .875rem !default;
$input-btn-padding-x-lg:      1.5rem !default;
$input-btn-font-size-lg:      $font-size-base !default;
$input-btn-line-height-lg:    1 !default;

$input-btn-border-width:      $border-width !default;

$custom-control-indicator-checked-color:        $component-active-color !default;
$custom-checkbox-indicator-indeterminate-color:        $custom-control-indicator-checked-color !default;
$custom-select-box-shadow:    0 2px 6px 0 rgba($black,.15) !default;
$custom-select-focus-box-shadow:    $input-btn-focus-box-shadow !default;
$custom-control-indicator-checked-box-shadow: 0 2px 6px 0 rgba($primary,.15);
$custom-control-indicator-active-bg: none;

$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66656 10.3907L4.47123 8.19539L3.52856 9.13806L6.66656 12.2761L13.1379 5.80473L12.1952 4.86206L6.66656 10.3907Z' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E%0A");
$custom-checkbox-indicator-icon-indeterminate:url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66656 10.3907L4.47123 8.19539L3.52856 9.13806L6.66656 12.2761L13.1379 5.80473L12.1952 4.86206L6.66656 10.3907Z' fill='#{$custom-checkbox-indicator-indeterminate-color}'/%3E%3C/svg%3E%0A");

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x*2 !default;
$btn-font-family:             $input-btn-font-family !default;
$btn-font-size:               $input-btn-font-size !default;
$btn-line-height:             $input-btn-line-height !default;
$btn-white-space:             null !default; // Set to `nowrap` to prevent text wrapping

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm*2 !default;
$btn-font-size-sm:            $input-btn-font-size-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg*2 !default;
$btn-font-size-lg:            $input-btn-font-size-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:             $font-weight-bold !default;
$btn-box-shadow:              0 .125rem .5rem !default;
$btn-focus-box-shadow:        0 .25rem 1rem !default;
$btn-disabled-opacity:        .85 !default;
$btn-active-box-shadow:       none !default;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, 
                              border-color .15s ease-in-out, box-shadow .15s ease-in-out, 
                              transform .15s ease-in-out !default;


// Forms

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-font-family:                     $input-btn-font-family !default;
$input-font-size:                       $input-btn-font-size !default;
$input-font-weight:                     $font-weight-base !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-font-size-sm:                    $input-btn-font-size-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-font-size-lg:                    $input-btn-font-size-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                              $white !default;
$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-200 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      none !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              $gray-300 !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                 $body-color !default;

$input-height-border:                   $input-border-width * 2 !default;

$input-height-inner:                    add($input-line-height * 1em, $input-padding-y * 2) !default;
$input-height-inner-half:               add($input-line-height * .5em, $input-padding-y) !default;
$input-height-inner-quarter:            add($input-line-height * .25em, $input-padding-y / 2) !default;

$input-height:                          add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false)) !default;
$input-height-sm:                       add($input-line-height-sm * 1em, add($input-padding-y-sm * 2, $input-height-border, false)) !default;
$input-height-lg:                       add($input-line-height-lg * 1em, add($input-padding-y-lg * 2, $input-height-border, false)) !default;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


// Breadcrumbs

$breadcrumb-font-size:              $small-font-size !default;

$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          1rem !default;

$breadcrumb-bg:                     none !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          0 !default;

$card-border-color:                 $border-color !default;
$dropdown-border-color:             $border-color !default;
$dropdown-box-shadow:               0 .25rem 1rem rgba($black, .15) !default;

$modal-backdrop-bg: rgba($black, .25);
$modal-backdrop-opacity: 1;
$modal-content-box-shadow-xs: null;
$modal-content-border-color: $border-color;
$modal-title-line-height: 1.1;
$modal-title-font-size: 1.0625rem;
$modal-header-padding: 1rem;

$tooltip-opacity: 1;
// Close
$close-font-size:                   3rem;
$close-font-weight:                 $font-weight-lighter;
$close-color:                       $black;
$close-text-shadow:                 none;
