<template>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-4">
            <div class="form_group d-flex">
                <label for="fabrics_search" class="sr-only">Search a fabrics...</label>
                <input id="fabrics_search" class="form-control" placeholder="Search a fabrics..." v-model="search">
                <div class="btn btn-primary" v-if="search" @click.prevent="resetSearch()">Reset</div>
            </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 mb-5" @click="filterFabrics()">
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.stain_resistant }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.plush }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.ecoleather }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.flame_retardant }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.in_patterns }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.decorative }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.antibacterial }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.structural }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.toptextil }}</div>
            <div class="btn btn-light btn__fabrics mb-2 mr-2">{{ translates.petfriendly }}</div>
            <div class="btn btn-primary mb-2 mr-2" v-if="selectedFilter" @click="selectedFilter = ''">Reset</div>
        </div>
        <div class="d-flex flex-wrap col-12">
            <template v-for="(el, index) in selectedElements">
                <div class="cms__item cms__item--fabrics mb-3 mr-3" :key="el.id_cms" :data-name="el.meta_title" :data-tags="el.meta_keywords" :data-index="index">
                    <a class="fabrics__link btn p-3" :href="el.link">{{ el.meta_title }}</a>
                </div>
            </template>
        </div>
    </div>
</template>

<script>

export default {
    name: 'Fabrics',
    data(){
        return {
            search: '',
            elements: [],
            selectedFilter: '',
        }
    },

    created() {
        Object.entries(JSON.parse(this.fabrics)).forEach(el => {
            this.elements.push(el[1]);
        });
        this.translates = JSON.parse(this.translates)
    },

    props: {
        fabrics: Array,
        translates: Array,
    },

    computed: {
        selectedElements: function(){
            const vm = this
            if(this.selectedFilter && this.selectedFilter !== '')
                return this.elements.filter(el => {
                    let tags = el.meta_keywords.toLowerCase().split(', ');              
                    const results = tags.map(tag => tag == vm.selectedFilter || vm.selectedFilter.includes(tag));

                    if(results.includes(true))
                        return true;
                })
            else if (this.search && this.search !== '')
                return this.elements.filter(el => el.meta_title.toLowerCase().includes(vm.search.toLowerCase()));
            else 
                return this.elements;
        }
    },

    methods: {
        resetSearch(){
            this.search = '';
        },
        filterFabrics(){
            if(event.target.classList.contains('btn__fabrics')){
                let text = event.target.innerHTML;
                this.selectedFilter = text.replace(/\p{Diacritic}/gu, "").toLowerCase();
            }
        },
    },
}
</script>
