
@include media-breakpoint-up(lg) {
  .block-categories {
    overflow-x: hidden;
    z-index: 1;
  }
  .categories {
    display: flex;
    align-items: center;
    .box {
      flex: 0 1 calc(100% / 6);
      padding: 10px;
    }
    a {
      width: 200px;
    }
  }
}

.subcategories__mobile {
  .box {
    margin: 0;
    &__thumbnail {
      display: none;
    }
    &__wrapper {
      padding: 10px 0;
    }
    &__title {
      font-size: 0.875rem;
      font-weight: 500;
      justify-content: start;
      text-align: left;
    }
  }
}