.cms {
    &__item {
        border-radius: 1rem;
        position: relative;
        &--fabrics {
            border: 1px solid #eee;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 1rem;
            box-shadow: 0 3px 15px #0000001a;
            transition: opacity .15s ease-in-out;
            z-index: -1;
        }
        &:hover:before {
            opacity: 1;
        }       
    }
}

.inspirations {
    &__title {
        font-weight: 600;
    }
}

.inspiration{

    &-collection {
        align-items: center;
        margin-bottom: 4em;
        &__title {
            font-weight: 600;
            font-size: 1.3em;
        }
        &__text {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &-subtitle {
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

}
.mt-30 {
    margin-top: 1rem
}
.cms__item--fabrics {
    transition: transform 5s; 
}

.fade-enter-active {
    transition: all .4s ease;
}
.fade-leave-active {
    transition: all .2s ease;
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(5px);
    opacity: 0;
}
.fade-move, .fade-enter-active-to {
    transition: transform .5s; 
}
