@import url("~@fancyapps/fancybox/dist/jquery.fancybox.css");

.product {
    &-description {
        ul {
            margin-left: 25px;
        }
    }
    &__details {
        &:hover {
            cursor: pointer;
        }
    }
}

.card.card__special {
    border: 0;
    .card-header {
        padding: 0;
        > * {
            @include button-size($btn-padding-y, 0, $font-size-lg, 1, 0);
            font-weight: $font-weight-bold;
            text-align: left;
            text-transform: none;
            i {
                position: absolute;
                right: 10px;
                font-size: $font-size-lg;
                @include transition($btn-transition);
            }
            &.collapsed i {
                transform: rotate(-90deg);
            }
        }
    }
    .card-body {
        padding-left: 0;
        padding-right: 0;
        // .data-sheet,
        // > div[class^="product-"] {
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     grid-gap: 0 1rem;
        // }
        .label {
            font-weight: 600;
        }
    }
}

.product-cover {
    position: relative;

    &__image {
        width: 100%;
        background: $white;
    }
}

// trzeba to zoptymalizowac pozniej

.product-cover {
    .product-cover__image {
        transition: transform .3s ease;
    }
    &:hover {
        // .product-cover__image{
        //     transform: scale(1.005);
        // }
        .wrapper--zoom {
            opacity: 1;
        }
    }
}

.wrapper--zoom {
    width: 80px;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .3s ease;
}

.btn__zoom { 
    transition: color .3s ease;
    i {
        width: 80px;
        height: 80px;
        font-size: 80px;
        color: #fff;
        // text-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    }
}

.thumb-container {
    cursor: pointer;

    &__wrapper {
        width: 94px;
        height: 94px;
        position: relative;

        @include media-breakpoint-up(md) {
            margin-bottom: .5rem;
        }
        @include media-breakpoint-down(sm) {
            margin-right: .5rem;
        }

        &::before {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid transparent;
            z-index: 1;
        }

        &--selected {

            &::before {
                border-color: $primary;
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .product-images {
        width: 94px;
        margin-right: 1rem;
    }
  }

.variants-button {
    $self: &;
    display: inline-flex;
    position: relative;

    &__label {
        @extend .btn;
        font-size: $small-font-size;
        border: $border-width solid $border-color;
        margin: 0 0.25rem 0.25rem 0;
        color: $gray-600;

        &:hover {
            border-color: $gray-600;
        }
    }

    &__input {
        opacity: 0;
        position: absolute;

        &:checked {
            ~ #{ $self }__label {
                color: $primary;
                border-color: $primary;
                box-shadow: 0 0.25rem 0.75rem rgba($primary, 0.1);

                &:hover {
                    background: $white;
                }
            }
        }
    }
}

.table.data-sheet {
    th,
    td {
        border: none;
    }
}

.product-variants {

    &__caption {
        display: block;
        @extend .small, .text-underline;

    }
}

.product-tabs {

    ul {
        display: flex;
        display: -ms-flexbox;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        -ms-flex-flow: row wrap;
        margin: 0;
        width: 100%;
    }

    li {
        display: block;
        transition: all .3s ease;
        padding: 3px;

        @include media-breakpoint-desktop {
            width: 50%;
            flex: 1 0 50%;
        }
    }


}