// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $hover-background: darken($background, 5%), $hover-border: darken($border, 5%), $active-background: darken($background, 5%), $active-border: darken($border, 5%)) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;
  @if $enable-shadows {
    @include box-shadow($btn-box-shadow rgba($background, .25));
  }

  @include hover() {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
    @if $enable-shadows {
      @include box-shadow($btn-focus-box-shadow rgba($background, .3));
    }
    // transform: translateY(-2px);
  }

  &:focus,
  &.focus {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
    @if $enable-shadows {
      @include box-shadow($btn-focus-box-shadow rgba($background, .3));
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
    box-shadow: none;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    &:focus {
      @if $enable-shadows and $btn-active-box-shadow != none {
        @include box-shadow($btn-focus-box-shadow rgba($background, .25));
      }
    }
  }

  &.is--loading,
  &.is--loading:disabled {
    transition: none;
    color: transparent;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top:50%;
      right: 50%;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: .125rem solid rgba(color-yiq($background), .5);
      border-right-color: transparent;
      transform: translate(50%, -50%);
      animation: spinner-btn .5s ease-in-out infinite;

    }

  }

}

@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  border-color: $color;

  @include hover() {
    color: $color-hover;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus,
  &.focus {
    box-shadow: $btn-focus-box-shadow rgba($color, .5);
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;

    &:focus {
      @if $enable-shadows and $btn-active-box-shadow != none {
        @include box-shadow($btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($color, .5));
      }
    }
  }
}

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
  padding: $padding-y $padding-x;
  @include font-size($font-size);
  line-height: $line-height;
  // Manually declare to provide an override to the browser default
  @include border-radius($border-radius, 0);
}


@keyframes spinner-btn {
  from {
    transform: translate(50%,-50%) rotate(0deg);
  }
  to {
    transform: translate(50%,-50%) rotate(360deg);
  }
}